html {
    height: 100%;
  }
body {
    min-height: 100%;
  }

.bg-darkblue-local {
    background-color: #0d47a1;
}

.bg-lightblue-local {
    background-color: rgb(230,245,255);
}

.bg-img-local { 
    background-image: url('bg.png'); 
    background-size: cover;
}

.color-darkblue-local {
    color: #0d46a1;
}

.font-nav-local {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 2em;
}

.font-nav-item-local {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 1.35em;
}

.font-title-local {
    font-size: 1.35em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.font-subtitle-local {
    font-size: 1.05em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.font-open-local {
    font-family: 'Open Sans', sans-serif;
}
