
/* General Webpage tag costumization is placed here */

html {
    height: 100%;
  }
body {
    min-height: 100%;
  }



/* Background colors not available in Bootstrap and images are placed in this section */

.bg-darkblue-local {
    background-color: #0d47a1;
}

.bg-lightblue-local {
    background-color: rgb(230,245,255);
}

.bg-img-local { 
    background-image: url('../'); 
    background-size: cover;
}



/* Fonts and font colors not available in Bootstrap are placed in this section */

.color-darkblue-local {
    color: #0d46a1;
}

.font-nav-local {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 2em;
}

.font-nav-item-local {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 1.35em;
}

.font-title-local {
    font-size: 1.35em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.font-subtitle-local {
    font-size: 1.05em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.font-box-local {
    font-size: 1.20em;
    font-family: 'Open Sans', sans-serif;
}

.font-open-local {
    font-family: 'Open Sans', sans-serif;
}

.font-open-box-local {
    font-family: 'Open Sans', sans-serif;

}

.font-signature-local {
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
}

.font-signaturemark-local {
    font-size: .85em;
}

/* Customization of HTML elements not available in Bootstrap are placed here */

.box {
    height: 250px;
}

.border-shadow-local {
    border-radius: 10px; 
    box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.52);
}

.border-local {
    border-radius: 10px;
}